<template>
	<main style="display: flex; flex-direction: column; align-items: start; row-gap: 0.5rem">
		<div style="display: flex; flex-direction: column; align-items: start; row-gap: 0.5rem">
			<div style="display: flex; flex-direction: column;">
				<label for="hostInput">Host:</label>
				<input id="hostInput" type="text" v-model="webHost"/>
			</div>
			<div style="display: flex; flex-direction: column">
				<label for="endpointInput">Endpoint:</label>
				<input id="endpointInput" type="text" v-model="endpoint"/>
			</div>

		</div>

		<div style="display: flex; flex-direction: column; align-items: start; row-gap: 0.25rem; margin-top: 1rem; margin-bottom: 1rem">
			<div>
				<input type="radio" name="methodInput" id="getButton" value="get" v-model="method">
				<label for="getButton">GET</label>
			</div>

			<div>
				<input type="radio" name="methodInput" id="postButton" value="post" v-model="method">
				<label for="postButton">POST</label>
			</div>

			<div>
				<input type="radio" name="methodInput" id="putButton" value="put" v-model="method">
				<label for="putButton">PUT</label>
			</div>

			<div>
				<input type="radio" name="methodInput" id="patchButton" value="patch" v-model="method">
				<label for="patchButton">PATCH</label>
			</div>

			<div>
				<input type="radio" name="methodInput" id="deleteButton" value="delete" v-model="method">
				<label for="deleteButton">DELETE</label>
			</div>
		</div>

		<label for="authToken">authToken</label>
		<input type="text" id="authToken" v-model="authToken"/>

		<label for="requestBody">Request Body</label>
		<textarea id="requestBody" v-model="requestBody" style="display: block; margin-bottom: 1rem; height: 10rem; width: min(22rem, 100vw); overflow: auto"/>

		<button @click="sendRequest">SEND REQUEST</button>

		<label for="responseBody">Response Body</label>
		<textarea id="responseBody" :value="responseBody" style="display: block; margin-bottom: 1rem; height: 10rem; width: min(22rem, 100vw); overflow: auto"/>
	</main>
</template>

<script setup>
import {ref} from "vue";
import axios from "axios";
const webHost = ref("http://localhost:3000")
const endpoint = ref("/")
const method = ref('get')
const headers = ref({})
const requestBody = ref("{\n}")
const responseBody = ref("")
const authToken = ref("")

const sendRequest = async () => {
	const response = await axios.request({
		url: endpoint.value,
		method: method.value,
		baseURL: webHost.value,
		headers: {'Content-Type': "application/json", ...headers.value, 'authToken': authToken.value},
		data: requestBody.value || '{}'
	})
	responseBody.value = typeof response.data === 'string'
		? response.data
		: JSON.stringify(response.data, null, 2)
}
</script>